/* Reset default styles and set up base typography */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('file:///D:/1815871.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Header navigation styles */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700;
}

/* Main content styles */
#main-content {
    max-width: 800px;
    margin: 150px auto 0; /* Adjusted margin-bottom to 0 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #FFD700;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    margin-bottom: 0; /* Remove bottom margin */
    display: flex;
    justify-content: center; /* Center the form horizontally */
}

input[type=text] {
    width: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
}

button.btn {
    background-color: #3498DB;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-left: 10px;
}

button.btn:hover {
    background-color: #2980B9;
}

/* Search results styles */
#search-results {
    margin-top: 20px; /* Adjusted margin-top to 20px for spacing */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.result-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.result-item p {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

/* No results found message */
#search-results .no-results {
    text-align: center;
    color: #777;
    margin-top: 20px;
    font-size: 18px;
}

/* Footer styles */
footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
